
*,
*::before,
*::after {
  box-sizing: border-box;
}

body
{
  /* background-image: url(./img/main.png); */
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.App
{
  background: rgb(169, 169, 169);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* APP */
#header
{
  background: silver;
  
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* APP ENDS */


/* Wrapper */

.wrapper
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

/* NAVIGATION */
nav
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  padding: 0 1.5em;
}

/* LOGO */
.logo-wrapper
{
  width: 15%;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
}

.logo-wrapper h2
{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* ENDS */

/* NAV LIST */
ul
{
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5em;
}

.nav-menu
{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

li
{
  list-style: none;
  cursor: pointer;
}

li:hover
{
  color: white;
  transition: all .5s ease-in-out;
}

nav ul li a
{
  color: black;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover
{
  color: white;
  transition: all .5s ease-in-out;
}
/* ENDS */

/* SOCIAL ICONS */
.social-icons
{
  width:20%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: .3em 0;
  gap: .6em;
  border-left: 1px solid grey;
}

.social-icons .icon
{
  font-weight: bold;
  font-size: 1.2em;
}

.humbrger-menu
{
  display: none;
}

/* ENDS */


/* ABOUT */
#about
{
  display: flex;
  justify-content: center;
  width: 100%; 
  height: 60%; 
  align-items: center;
  padding: .7em 1.5em;
}

.container
{
  display: flex;
  justify-content: space-between;
  width: 100%;  
  align-items: center;
}

/* left container */
.about-col-1
{
  width: 70%;
  /* background: yellow; */
}

.about-col-1 img
{
  width: 100%;
}

/* right container */
.about-col-2
{
  width: 30%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  /* justify-content: end; */
}
.about-col-2 h1
{
  color: white;
  font-size: 4em;
  font-weight: 900;
  line-height: 1em;  
}

.header-text
{
  position: absolute;
  bottom: -.5em;
  left: -15em;
  z-index: 1;
}

.content
{
  /* padding: 1em; */
  position: absolute;
  top: 50%;
  left: -10%;
  z-index: 2;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

h4
{
  margin: 0;
}

p
{
  font-size: .7em;
  color: white;
}

button
{
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
  background: rgb(222, 221, 221);
  padding: .7em 1em;
  font-weight: bold;
  cursor: pointer;
}

.arrow
{
  color: white;
  font-size: 1.5em;
}

.scroll
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-top: 1.5em;
}

.scroll p
{
  margin: 0;
  color: black;
}

/* ABOUT ENDS */

/* GALLERY */
#boxes
{
  background: white;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overall-box
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  /* flex-shrink: 0; */
  border-left: 1px solid black;
  position: relative;
}

.overall-box h5
{
  position: absolute;
  top: 0;
  left: 3em;
}

.overall-box button
{
  position: absolute;
  top: 2em;
  right: 3em;
  font-size: .7em;
  font-weight: lighter;
  padding: 0;
  padding: .3em .7em;
}

.overall-box p
{
  position: absolute;
  transform: translateX(-50%);
  bottom: 1em;
  left: 50%;
  color: black;
}

.overall-box img
{
  width: 70%;
}

@media only screen and (max-width: 740px)
{

  .wrapper
  {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }

  .nav-menu,
  .social-icons
  {
    display: none;
  }

  #about
  {
    height: 60%;
    width: 100%;
    box-sizing: border-box;
  }
  
  .container
  {
    flex-direction: column;
    height: 100%;
  }

  .about-col-1
  {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-col-2
  {
    width: 100%;
    height: 50%;
  }

  .about-col-2 h1
  {
    font-size: 2em;
  }

  .header-text
  {
    position: unset;
  }

  .content
  {
    /* padding: 1em; */
    position: unset;
    top: unset;
    left: unset;
    align-items: start;
  }

  button
  {
    padding: 1em;
    box-shadow: 0 0 10px;
  }

  .scroll
  {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em .5em;
    padding-bottom: .5em;
  }

  .scroll p
  {
    font-size: 1em;
    font-weight: 600;
  }

  #boxes {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center; 
    /* flex-direction: column; */
    width: 100%;
    height: auto; 
    padding: 1em; 
    gap: .7em;
    padding-top: 4em;
    flex-wrap: wrap;
    position: relative;
  }

  .overall-box 
  {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    width: 46%; 
    flex-shrink: 0; 
    position: unset;
    border: 1px solid black;
    background-color: white; 
  }


  .overall-box h5 {
    top: 0;
    left: 2em;
  }

  .overall-box button {
    top: 4%;
    right: 2em;
    padding: .8em 1em;
  }

  .overall-box img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 1em;
  }

  .overall-box p
  {
    position: unset;
    transform: translateX(unset);
    bottom: unset;
    left: unset;
    color: black;
    margin-left: 4em;
  }

  .humbrger-menu
  {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
  }

  .humburger-navigation
  {
    position: fixed;
    top: 1%;
    left: 1%;
    width: 40%;
    height: auto;
    background: white;
    padding: 1em .5em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    z-index: 20000;
    box-sizing: border-box;
    box-shadow: 0 0 10px;
  }

  .nav-menu-humburger
  {
    display: flex;
    flex-direction: column;
    gap: .7em;
    box-sizing: border-box;
  }

  .nav-menu-humburger li
  {
    width: 100%;
    background: silver;
    padding: .5em;
    box-sizing: border-box;
    font-weight: 600;
  }

  .social-icons-humburger
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: .7em;
    width: 100%;
    background: silver;
    padding: .5em 0;
    box-sizing: border-box;
  }

  .social-icons-humburger .icon
  {
    font-size: 1.4em;
  }

  .arrow
  {
    color: white;
    font-size: 2em;
  }
}
